*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-size: cover;
    background-image: url(IMG/WhatsApp\ Image\ 2022-04-01\ at\ 11.13.31.jpeg);

}

.profile{
    text-align: center;

}



.profile .perfil{
    border-radius: 40%;
    box-shadow: 0px 0px 15px black;
    width: 200px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}


.profile h2{
    font-size: 30px;
    color: #fff;
}

.profile p{
    color: #fff;
    font-style: italic;
    font-size: 22px;
}

.profile .boxes {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.profile .boxes a img{
    width: 40px;
}

.links{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links .link{
    margin: 10px auto;
    background-color: #fff;
    width: 80%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    

}

.links .link img{
    width: 40px;
    margin-right: 20px;
}